/* body{
  background-image: url('./assets/exercise_bg');
  background-repeat: no-repeat ;
  background-size: 100%;
} */

td a,
svg {
  cursor: pointer;
}

.info a {
  color: green;
  font-weight: 700;
  text-decoration: none;
}

.info a:hover {
  color: green;
  text-decoration: none;
}

button a,
a:hover {
  color: white;
  text-decoration: none;
}

.action a{
  color: black;
}

p::before{
  content: ":";
  font-weight: bold;
  margin-right: 10px;
}
